.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}
.container {
  display: flex;
  height: 80vh;
  border: 1px solid grey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
}
.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgb(90, 105, 147);
  border-radius: 10px;
}
.container::-webkit-scrollbar-track {
  background-color: #10141f;
  border-radius: 10px;
}
.todoForm {
  display: flex;
  justify-content: space-around;
  width: 98%;
}
input {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
button {
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 0 5px;
}
.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
}
.singleTodo {
  border-radius: 30px;
  margin: 10px 0;
  background-color: #111e38;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  width: 90%;
}
.todoText {
  flex: 1;
}
