.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}
.container {
  display: flex;
  height: 80vh;
  width: 75%;
  border: 1px solid grey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  color: white;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 12px;
}
.container::-webkit-scrollbar {
  width: 5px;
}
.container::-webkit-scrollbar-thumb {
  background-color: rgb(90, 105, 147);
  border-radius: 10px;
}
.container::-webkit-scrollbar-track {
  background-color: #10141f;
  border-radius: 10px;
}
.todoForm {
  display: flex;
  justify-content: space-around;
  width: 98%;
}
input:not(.checkBox) {
  width: 80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}
button {
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin: 0 5px;
}
.allTodos {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.singleTodo {
  border-radius: 30px;
  margin: 10px 0;
  background-color: #111e38;
  padding: 6px 20px;
  display: flex;
  align-items: center;
  width: 90%;
}
.todoText {
  flex: 1;
  margin: 0 5px;
  /* word-wrap: break-word; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.todoStatus {
  display: flex;
  padding: 3px;
  height: 15px;
  width: 25%;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 0.7rem;
  background-color: red;
}
.completed .todoStatus {
  background-color: green;
}
.completed .todoText {
  text-decoration: line-through;
}
